.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #c0c0c0;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: 2px solid rgb(84, 84, 84);
  margin: 4px;
  cursor: pointer;
  user-select: none;
  border-color: azure;
}

.boton-contenedor:hover {
  background-color: #666666;
  color: rgb(255, 255, 255);
}

.operador {
  background-color: #dc7d1e;
  border: 2px solid rgb(182, 82, 0);
  color: white;
}

.operador:hover {
  background-color: #a54806;
  color: #c0c0c0;
}