* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(36, 37, 58);
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

html,
body {
  color: rgb(0, 0, 0);
  background-color: rgb(149, 216, 255);
  font-family: Lato, sans-serif;
  margin-top: 40px 0;
}

.task-manager {
  display: flex;
  flex-direction: column; /* Change from flex-wrap to flex-direction: column */
  align-items: center;
}

.logo-container {
  width: 60%; /* Make the logo container full-width */
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
}
.logo {
  width: 400px;
  height: auto;
}
.main-task-list {
  width: 60%; /* Make the task list full-width */
  min-height: 500px;
  background-color: beige;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  box-shadow: 0 0 20px rgb(116, 195, 241)
}